fastapi
uvicorn
python-multipart
requests
streamlit
google-generative-ai
python-dotenv
pytesseract
pymupdf
sentence-transformers
faiss-cpu
numpy
youtube-transcript-api
openai-whisper
SpeechRecognition
pydantic
pillow
pytest
pytest-asyncio